@import url(http://weloveiconfonts.com/api/?family=fontelico);

/* fontelico */
[class*="fontelico-"]:before {
  font-family: 'fontelico', sans-serif;
}

/* Colors
 * --------------------------------------- */

 .pink {
    color: #ffadad;
 }

/* Fonts
 * --------------------------------------- */

@font-face {
    font-family:"Ruthie";
    src: url("Ruthie-Regular.otf")
}

@font-face {
    font-family:"Scriptina";
    src: url("scriptina.ttf");
}

@font-face {
    font-family:"Quikhand";
    src: url("Quikhand.otf");
}

@font-face {
    font-family:"Allura";
    src: url("Allura-Regular.otf");
}

@font-face {
    font-family: "AlexBrush";
    src: url("AlexBrush-Regular.ttf");
}

.ruthie {
    font-family: "Ruthie";
}

.scriptina {
    font-family: "Scriptina";
}

.quikhand {
    font-family: "Quikhand";
}

.allura {
    font-family: "Allura";
}

.alexbrush {
    font-family: "AlexBrush";
}

body{
	font-family: 'Open Sans Condensed','Arial Narrow', serif;
	background-color: #f7f7f7;
	font-weight: 400;
	font-size: 15px;
	color: #333;
	overflow-y: scroll;
	overflow-x: hidden;
  margin: 0 auto;
}

a{
	color: #555;
	text-decoration: none;
}
.container{
	width: 100%;
	position: relative;
}
.clr{
	clear: both;
	padding: 0;
	height: 0;
	margin: 0;
}
.container > header{
	margin: 0;
	padding: 20px 10px 0px 10px;
	position: relative;
	display: block;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
  text-align: center;
}
.container > header h1{
	font-size: 36px;
	line-height: 36px;
	margin: 0;
	position: relative;
	font-weight: 300;
	color: #fff;
	text-shadow: 1px 1px 1px #ccc;
}
.container > header h1 span{
	font-weight: 700;
}
.container > header h2{
	font-weight: 300;
 font-size: 2em;
  margin: 0;
  padding: 15px 0;
  color: #fff;
  font-style: italic;
  text-shadow: 1px 1px 1px #ccc;
}

.container > header h2 strong{
	color: #781430;
}

.instafeedmain {
	width: 920px;
	height: auto;
 min-height: 230px;
	padding: 0;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
 border: 2px solid #ffadad;
 background-color: #fff;
	
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

.view {
    width: 205px;
    height: 200px;
    margin: 10px;
    float: left;
    position: relative;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    background: #FFF;
    padding: 5px 0px 5px 5px;
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -ms-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    transition: all .5s ease-out;
}

.view img {
    width: 200px;
}

.canvas-wrap {
    position: absolute;
    top: 0;
    z-index: -1;
}

@media (min-width: 768px) {
 .view.expand {
   width: 645px;
   height: 640px;
 }

 .view.expand img {
   width: 640px;
   height: 640px;
 }
}

.emo {
 position: absolute;
 bottom: 1em;
 right: 1em;
 color: #fff;
}

.emo:before {
 margin-right: 5px;
}

.spinner {
  width: 40px;
  height: 40px;
  margin: 100px auto;
  background-color: #333;

  border-radius: 100%;  
  -webkit-animation: scaleout 1.0s infinite ease-in-out;
  animation: scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes scaleout {
  0% { -webkit-transform: scale(0.0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes scaleout {
  0% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 100% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@media only screen 
and (min-device-width : 320px)
and (max-device-width : 1024px) {

  .instafeedmain {
   width: 100%;
  }

  .view {
    float: none;
    margin: 10px auto;
  }
}

@media only screen 
and (orientation : landscape)
and (max-device-width : 1024px) {
  .view {
    float: left;
    margin: 15px;
  }
}
