@import url(http://weloveiconfonts.com/api/?family=entypo);

/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

/* Style for our header texts
* --------------------------------------- */
h1{
    font-size: 5em;
    font-family: arial,helvetica;
    color: #fff;
    margin:0;
}

/* Centered texts in each section
* --------------------------------------- */
.section{
    text-align:center;
}

/* Bottom menu
* --------------------------------------- */
#infoMenu li a {
    color: #fff;
}

/* APP
 * --------------------------------------- */

body{
	font-family: arial,helvetica;
	color: #333;
	color: rgba(0,0,0,0.5);
}
.wrap{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
}
h1{
	font-size: 6em;
}
p{
	font-size: 2em;
}
.intro p {
    color: #fff;
	width: 50%;
	margin: 0 auto;
	font-size: 1.5em;
}

/* Fonts
 * --------------------------------------- */

@font-face {
    font-family:"Ruthie";
    src: url("Ruthie-Regular.otf")
}

@font-face {
    font-family:"Scriptina";
    src: url("scriptina.ttf");
}

@font-face {
    font-family:"Quikhand";
    src: url("Quikhand.otf");
}

@font-face {
    font-family:"Allura";
    src: url("Allura-Regular.otf");
}

@font-face {
    font-family: "AlexBrush";
    src: url("AlexBrush-Regular.ttf");
}

.ruthie {
    font-family: "Ruthie";
}

.scriptina {
    font-family: "Scriptina";
}

.quikhand {
    font-family: "Quikhand";
}

.allura {
    font-family: "Allura";
}

.alexbrush {
    font-family: "AlexBrush";
}

/* Colors
 * --------------------------------------- */

 .pink {
    color: #ffadad;
 }

/* Sections
 * --------------------------------------- */

.panchavati-cover {
    background-image: url(../img/panchavati.jpg);
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 0;
    background-size: cover;
}

.ring-cover {
    background-image: url(../img/ring.jpg);
}

/* App CSS
 * --------------------------------------- */

.landing-page {
    z-index: 1;
    position: relative;
}

.landing-page-header {
    line-height     : 1em;
    margin-bottom   : 1.5em;
    text-shadow: 3px 1px 2px rgba(34, 34, 34, 0.3);
}

a.celebrate {
    color: #FFF;
    padding: .5em;
    transition: all 1s;
    position: relative;
    font-size: 2.5em;
    font-weight: 200;
    text-shadow: 3px 1px 2px rgba(34, 34, 34, 0.3);
}

a.celebrate:after {
    background: url(../img/deco-border.svg);
    content: "";
    width: 200px;
    height: 40px;
    position: absolute;
    top: 1.5em;
    left: 10%;
}

.invite-page-header {
    font-size: 1.5em;
    color: rgba(0,0,0,0.5);
}

.pattern1 {
    position: fixed;
    background: url(../img/wedding-swirl-1.png);
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0.1;
    z-index: 0;
}

.ring-picture {
    height: 150px;
    width: 100%;
    background-image: url(../img/ring.jpg);
    background-position: 50% 50%;
    background-size: 100%;
    background-repeat: no-repeat;
    transition: all 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
}

.ring-picture:hover {
    height: 450px;
}

.engaged-label {
    color: #fff;
    position: absolute;
    bottom: 1em;
    font-size: 2em;
    right: 1em;
}

.panchavati-map {
    position: absolute;
    top:25%;
    right: 10em;
    width: 400px;
    height: 300px;
}

.groomcredits {
    position: absolute;
    bottom: .3em;
    color: #fff;
    right: 0em;
    width: 100%;
    text-align: right;
    background-color: rgba(255,255,255, 0.2);
    padding: .3em 1em 0 0;
}

.groom-heart {
    color: #ffadad;
}

.groomcredits a {
    color: #fff;
    text-decoration: underline;
}

.celebrate-with-us {
    color: #444;
    margin-bottom: 10em;
    position: relative;
}

@media (min-width: 768px) {
    .celebrate-with-us-block {
        position: absolute;
        right: 0em;
        top: 1em;
    }

    .celebrate-with-us-block {
        right: 5em;
    }
}

.directions-block {
    margin-left: -12px;
    margin-top: 10px;
}

/* Invite Timeline
 * --------------------------------------- */

ul[id=timeline] {
    position: relative;
    width: 275px;
    overflow: hidden;
    margin: 0 auto;
    padding: 0
}

ul[id=timeline]:before {
    display: block;
    position: absolute;
    top: 20px;
    left: 88px;
    content: '';
    background: #e0e0e0;
    width: 1px;
    height: 130px;
    border-radius: 0
}

@media (min-width: 768px) {
    ul[id=timeline]:before {
        top:43px;
        left: 100px;
        width: 600px;
        height: 1px;
        border-radius: 0
    }
}

ul[id=timeline] li {
    display: block;
    position: relative;
    width: 100%;
    overflow: hidden;
    margin: 10px 0;
    padding: 0;
    text-align: center;
    list-style-type: none}

ul[id=timeline] time {
    display: block;
    width: 25%;
    float: left;
    margin-bottom: 10px;
    font-size: 1.25rem
}

ul[id=timeline] time sup {
    top: 6px;
    right: -3px;
    opacity: .75;
    vertical-align: top;
    font-size: .5rem;
}

ul[id=timeline] .timeline-marker {
    display: block;
    position: absolute;
    top: 7px;
    left: 85px;
    background: #e0e0e0;
    margin: 0 auto 10px;
    width: 6px;
    height: 6px;
    border-radius: 50px;
}

ul[id=timeline] p {
    margin-left: 120px;
    text-align: left;
    color: #ffadad;
}

ul[id=timeline] p .ss-icon {
    font-size: 1.3rem;
    padding-right: 10px;
}

@media (min-width: 768px) {
    ul[id=timeline] {
        width:100%;
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
    }

    ul[id=timeline] li {
        width: 25%;
        float: left;
        margin: 0;
    }

    ul[id=timeline] time {
        display: block;
        width: 100%;
        float: none;
        margin-bottom: 50px;
    }

    ul[id=timeline] time sup {
        top: 6px;
        right: -3px;
        opacity: .75;
        vertical-align: top;
        font-size: .5rem;
    }

    ul[id=timeline] .timeline-marker {
        top: 40px;
        left: 50%;
        margin: 0 0 0 -3px
    }

    ul[id=timeline] p {
        margin-left: 0;
        text-align: center;
        width: 100%;
    }

    ul[id=timeline] p .ss-icon {
        display: block;
        width: 100%;
        margin: 0;
        padding-right: 0;
        color: #ffadad;
        text-align: center;
    }
}

@media only screen 
and (min-device-width : 320px)
and (max-device-width : 1024px) 
and (orientation : potrait) {
    h1 {
        font-size: 4em;
    }

    .ring-picture,
    .ring-picture:hover {
        height: 50px;
    }

    .panchavati-video {
        display: none;
    }

    .panchavati-map {
        left: 30%;
        width: 100%;
        left: 0em;
    }

    .calendar-block {
        margin-top: 10px;
    }

    ul[id=timeline] {
        margin-left: 20%;
    }

}

/* iPhone 6 in landscape */

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 1024px) 
and (orientation : landscape) { 
    h1 {
      font-size: 3em;
    }

    .celebrate-with-us {
        margin-bottom: 1em;
    }

    .panchavati-map {
        height: 200px;
    }
}