/* Style for our header texts
* --------------------------------------- */
h1{
    font-size: 5em;
    font-family: arial,helvetica;
    color: #fff;
    margin:0;
}
.intro p{
    color: #fff;
}

/* Centered texts in each section
* --------------------------------------- */
.section{
    text-align:center;
}

/* Bottom menu
* --------------------------------------- */
#infoMenu li a {
    color: #fff;
}

/* APP
 * --------------------------------------- */

body{
	font-family: arial,helvetica;
	color: #333;
	color: rgba(0,0,0,0.5);
}
.wrap{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
}
h1{
	font-size: 6em;
}
p{
	font-size: 2em;
}
.intro p{
	width: 50%;
	margin: 0 auto;
	font-size: 1.5em;
}

/* Fonts
 * --------------------------------------- */

@font-face {
    font-family:"Ruthie";
    src: url("Ruthie-Regular.otf")
}

@font-face {
    font-family:"Scriptina";
    src: url("scriptina.ttf");
}

@font-face {
    font-family:"Quikhand";
    src: url("Quikhand.otf");
}

@font-face {
    font-family:"Allura";
    src: url("Allura-Regular.otf");
}

@font-face {
    font-family: "AlexBrush";
    src: url("AlexBrush-Regular.ttf");
}

.ruthie {
    font-family: "Ruthie";
}

.scriptina {
    font-family: "Scriptina";
}

.quikhand {
    font-family: "Quikhand";
}

.allura {
    font-family: "Allura";
}

.alexbrush {
    font-family: "AlexBrush";
}

/* Sections
 * --------------------------------------- */

.panchavati-cover {
    background-image: url(../img/panchavati.jpg);
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 0;
    background-size: cover;
}

.ring-cover {
    background-image: url(../img/ring.jpg);
}

.invite {
    background-image: url(../img/pattern2.jpg)
}

/* App CSS
 * --------------------------------------- */

.landing-page {
    z-index: 1;
    position: relative;
}

.landing-page-header {
    line-height     : 1em;
    margin-bottom   : 2em;
    text-shadow: 3px 1px 2px rgba(34, 34, 34, 0.3);
}

a.celebrate {
    color: #FFF;
    padding: .5em;
    transition: all 1s;
    position: relative;
    font-size: 1.5em;
    font-weight: 200;
}

a.celebrate:after {
    background: url(../img/deco-border.svg);
    content: "";
    width: 200px;
    height: 40px;
    position: absolute;
    top: 1.5em;
    left: 6.5%;
}

.pattern1 {
    position: fixed;
    background: url(../img/wedding-swirl-1.png);
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0.1;
    z-index: 0;
}

.ring-picture {
    height: 150px;
    width: 100%;
    background-image: url(../img/ring.jpg);
    background-position: 50% 50%;
    background-size: 100%;
    background-repeat: no-repeat;
    transition: all 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
}

.ring-picture:hover {
    height: 450px;
}

.engaged-label {
    color: #fff;
    position: absolute;
    bottom: 1em;
    font-size: 2em;
    right: 1em;
}

@media only screen 
and (min-device-width : 320px)
and (max-device-width : 1024px) {
    h1 {
        font-size: 4em;
    }

    .ring-picture,
    .ring-picture:hover {
        height: 50px;
    }
}