/* Style for our header texts
* --------------------------------------- */
h1{
    font-size: 5em;
    font-family: arial,helvetica;
    color: #fff;
    margin:0;
}
.intro p{
    color: #fff;
}

/* Centered texts in each section
* --------------------------------------- */
.section{
    text-align:center;
}

/* Bottom menu
* --------------------------------------- */
#infoMenu li a {
    color: #fff;
}

/* APP
 * --------------------------------------- */

body{
	font-family: arial,helvetica;
	color: #333;
	color: rgba(0,0,0,0.5);
}
.wrap{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
}
h1{
	font-size: 6em;
}
p{
	font-size: 2em;
}
.intro p{
	width: 50%;
	margin: 0 auto;
	font-size: 1.5em;
}

/* Fonts
 * --------------------------------------- */

@font-face {
    font-family:"Ruthie";
    src: url("Ruthie-Regular.otf")
}

@font-face {
    font-family:"Scriptina";
    src: url("scriptina.ttf");
}

@font-face {
    font-family:"Quikhand";
    src: url("Quikhand.otf");
}

.ruthie {
    font-family: "Ruthie";
}

.scriptina {
    font-family: "Scriptina";
}

.quikhand {
    font-family: "Quikhand";
}

/* App CSS
 * --------------------------------------- */

.landing-page-header {
    line-height     : 1em;
    margin-bottom   : 1em;
}

a.celebrate {
    border  : 1px solid #FFFFFF;
    color   : #FFFFFF;
    padding : 1em;
    transition: all 0.3s;
}

a.celebrate:hover {
  border-color: #e67e22;
  background-color: #FFFFFF;
  color: #424242;
}

.intro-label {
    color: #fff;
    margin-bottom: 3em;
}