/* Style for our header texts
* --------------------------------------- */
h1{
    font-size: 5em;
    font-family: arial,helvetica;
    color: #fff;
    margin:0;
}
.intro p{
    color: #fff;
}

/* Centered texts in each section
* --------------------------------------- */
.section{
    text-align:center;
}

/* Bottom menu
* --------------------------------------- */
#infoMenu li a {
    color: #fff;
}

/* APP
 * --------------------------------------- */

body{
	font-family: arial,helvetica;
	color: #333;
	color: rgba(0,0,0,0.5);
}
.wrap{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
}
h1{
	font-size: 6em;
}
p{
	font-size: 2em;
}
.intro p{
	width: 50%;
	margin: 0 auto;
	font-size: 1.5em;
}

/* Fonts
 * --------------------------------------- */

@font-face {
    font-family:"Ruthie";
    src: url("Ruthie-Regular.otf")
}

@font-face {
    font-family:"Scriptina";
    src: url("scriptina.ttf");
}

@font-face {
    font-family:"Quikhand";
    src: url("Quikhand.otf");
}

@font-face {
    font-family:"Allura";
    src: url("Allura-Regular.otf");
}

@font-face {
    font-family: "AlexBrush";
    src: url("AlexBrush-Regular.ttf");
}

.ruthie {
    font-family: "Ruthie";
}

.scriptina {
    font-family: "Scriptina";
}

.quikhand {
    font-family: "Quikhand";
}

.allura {
    font-family: "Allura";
}

.alexbrush {
    font-family: "AlexBrush";
}

/* App CSS
 * --------------------------------------- */

.landing-page {
    z-index: 1;
    position: relative;
}

.landing-page-header {
    line-height     : 1em;
    margin-bottom   : 2em;
    text-shadow: 3px 1px 2px rgba(34, 34, 34, 0.3);
}

a.celebrate {
    border: 1px solid #FFF;
    color: #FFF;
    padding: 1em 1.5em;
    transition: all 0.3s;
    border-radius: 100px 10px;
    position: relative;
    font-size: 1.5em;
    font-weight: 200;
}

a.celebrate:hover {
  background-color: #FFFFFF;
  color: #2EBFEF;
  opacity: 0.8;
}

.intro-label {
    color: #fff;
    margin-bottom: 3em;
}

.pattern1 {
    position: fixed;
    background: url(../img/wedding-swirl-1.png);
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0.1;
    z-index: 0;
}